<% layout("./layouts/boilerplate.ejs") %>

<div class="row mt-3 mb-4">
  <div class="col-8 offset-2">
    <h3>Create New Listing</h3>
    <form id="listingForm" action="/listings" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
      <!-- Title -->
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          name="listing[title]"
          id="title"
          placeholder="Add a catchy title"
          type="text"
          class="form-control"
          required
        />
        <div class="valid-feedback">Title looks good</div>
        <div class="invalid-feedback">Title is required</div>
      </div>

      <!-- Description -->
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="listing[description]"
          id="description"
          placeholder="Enter description"
          class="form-control"
          required
        ></textarea>
        <div class="valid-feedback">Description looks good</div>
        <div class="invalid-feedback">Provide a short description</div>
      </div>

      <!-- Image -->
      <div class="mb-3">
        <label for="image" class="form-label">Upload Listing Image</label>
        <input
          name="listing[image]"
          id="image"
          
          type="file"
          class="form-control"
          required
        />
      </div>
      <div class="invalid-feedback">Choose an Image</div>
       
      <!-- Price & Country -->
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            name="listing[price]"
            id="price"
            placeholder="1200"
            type="number" 
            class="form-control"
            required
          />
          <div class="valid-feedback">Price looks good</div>
          <div class="invalid-feedback">Please enter a valid Price</div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            name="listing[country]"
            id="country"
            placeholder="IN"
            type="text"
            class="form-control"
            required
          />
          <div class="valid-feedback">Country looks good</div>
          <div class="invalid-feedback">Country is required</div>
        </div>
      </div>

      <!-- Location -->
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          name="listing[location]"
          id="location"
          placeholder="Hyderabad, Telangana"
          type="text"
          class="form-control"
          required
        />
        <div class="valid-feedback">Location looks good</div>
        <div class="invalid-feedback">Location is required</div>
      </div>

      <button class="btn btn-dark add-btn mt-3" type="submit">Add</button>
    </form>
  </div>
</div>